*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    min-height: 100vh;
    background-image: url("./assets/fondo-corazones.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.valentine-app{
    margin: 0 auto;
    max-width: 560px;
    width: 90%;
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 1.8em;
}

.random-pics{
    margin: 0 auto;
    width: 350px;
    height: 350px;
}

.random-pics img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.question{
    margin: 15px auto;
}

.botones{
    margin: 12px auto;
}

.botones__btn-si,
.botones__btn-no{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 18px;
    cursor: pointer;
}

.botones__btn-si{
    background: #38fd70;
}

.botones__btn-no{
    background: #f00;
    color: #fff;
}

/* Estilos progresivos */

.estilo-1{ font-size: 22px; width: 70px; height: 70px; }
.estilo-2{ font-size: 28px; width: 80px; height: 80px; }
.estilo-3{ font-size: 34px; width: 90px; height: 90px; }
.estilo-4{ font-size: 40px; width: 110px; height: 110px; }
.estilo-5{ font-size: 46px; width: 125px; height: 125px; }

.question-style{
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
}
